<!DOCTYPE html>
<html>

<head>
  <title>ember-night</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <%= render '/layouts/nav' %>

<% if params[:id] != nil %>
  <% @url = '/user/' + params[:id] %>
  <% if  current_page?(@url) %>
    <img src="/banner.jpg" class="profile-banner">
    <div clas="row">
      <div class="col-sm-12" style="background-color: white;">
        <div class="container">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6">
          <div class="col-sm" style="font-size: 80%; opacity: 0.7;">Posts<br>
              <h6 style="color: #008484; font-size: 150%;">23</h6></div>
          <div class="col-sm" style="font-size: 80%; opacity: 0.7;">FOLLOWERS<br>
               <h6 style="color: #008484; font-size: 150%;">23</h6></div>
         </div>
      </div>
    </div>
    </div>
    <% end %>
        <% end %>



  <div class="container">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= yield %>
  </div>
</body>

</html>
